<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.saikishoreeppalagudem.csci3130">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".HomeScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".RegistrationActivity" />
        <activity android:name=".CourseList" />
        <activity android:name=".CourseInformationActivity" />
        <activity android:name=".StudentCoursesActivity" />
        <!-- <activity android:name=".HomeScreenActivity"></activity> -->
        <activity
            android:name=".Activity_deadline"
            android:label="@string/title_activity_deadline"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activity_Filter"></activity>
    </application>

</manifest>